<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="escapeChars" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <appSettings>
    <add key="PrimaryKey" value="{ResourceId}_{ResourceSet}" />
    <add key="TransformFormat" value="EXEC [dbo].[usp_InsertLocalizationData] @ResourceId = '{ResourceId}', @English = '{English}', @French = '{French}', @Spanish = '{Spanish}', @ResourceSet = '{ResourceSet}'" />
  </appSettings>

  <escapeChars>
    <add key="'" value="''" />
  </escapeChars>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>